.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px;
    border-radius: 3px;
    width: 100%;
    height: 100%;

    box-shadow: 1px 1px 3px #000;
    background: linear-gradient(to top, #181a1d, #3a3c4d);
}

.profile-container h3 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #ddf;
}

.profile-container ul {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    border-top: #2897ff solid 1px;
}

.profile-container ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 10px;
    border-radius: 8px;

    list-style: none;
    color: #2897ff;
}

.profile-container ul li:hover {
    background: #4090ff33;
}

.mini-img {
    background: url('../../../assets/imgDefault.jpg') no-repeat center center / cover;
    width: 50px;
    height: 50px;
}

.button-delete {
    background: #ff2828d6;
    border: 0;
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
    margin-left: 20px;
    transition: filter 0.2s;
}

.button-delete:hover {
    filter: brightness(120%);
    box-shadow: 0px 0px 5px #ff2828d6;
}

.button-delete:active {
    filter: brightness(80%);
}